@{
    var rd = Global.Session is not null && Global.Session.User is not null ?  Global.Session.User.GetCustomers() : null;
    if(rd is not null && !rd.Message.Success) Information.Message = rd.Message;
    var customers = rd is not null && rd.ReturnValue is not null ? rd.ReturnValue : null;
}

@if(Information.Message is not null)
{
    <div class="status">
        @if(Information.Message.Success)
        {
            <p style="background-color:rgb(122, 150, 96); border-color: rgb(12, 70, 12);">@Information.Message.Error</p>
        }
        else
        {
            <p style="background-color:rgb(241, 146, 146); border-color: rgb(146, 53, 53);">@Information.Message.Error</p>
        }
    </div>
}

@if(customers is not null)
{       
    <form method="post">
        <table class="data">
            <thead>
                <tr>
                    <th style="width: 40%;">Name</th>
                    <th style="width: 20%;">Bezahlter Betrag</th>
                    <th style="width: 20%;">Fehlender Betrag</th>
                    <th style="width: 10%;"></th>
                    <th style="width: 10%;"></th>
                </tr>
            </thead>
            <tbody>
                @foreach(var customer in customers)
                {
                    <tr>
                        <td>@customer.GivenName @customer.Surname</td>
                        <td>@customer.PaidAmount</td>
                        <td>@Data.CalculateData.MissingAmount(customer)</td>
                        <td><input class="nav" type="submit" asp-page-handler="PickCustomer" asp-route-id="@customer.CustomerID" value="Bearbeiten"/></td>
                        <td><input class="del" type="submit" asp-page-handler="DeleteCustomer" asp-route-id="@customer.CustomerID" value="Löschen"/></td>
                    </tr>
                }
            </tbody>
        </table>
    </form>
}