@model List<CustomerInvoiceItemModel>

@{
    var rd = Global.Session is not null && Global.Session.User is not null && Information.InvoiceItemID > 0 ? 
        Global.Session.User.GetInvoiceItem((int)Information.InvoiceItemID) : null;
    if(rd is not null && !rd.Message.Success) Information.Message = rd.Message;
    var item = rd is not null && rd.Message.Success && rd.ReturnValue is not null ? rd.ReturnValue : null;
}

@switch(Global.ColorMode)
{
    case ColorMode.Red:

@if(Information.Message is not null)
{
    <div class="status-red">
        @if(Information.Message.Success)
        {
            <p style="background-color:rgb(122, 150, 96); border-color: rgb(12, 70, 12);">@Information.Message.Error</p>
        }
        else
        {
            <p style="background-color:rgb(241, 146, 146); border-color: rgb(146, 53, 53);">@Information.Message.Error</p>
        }
    </div>
}

<form method="post">
    <table class="data-red">
        @if(item is not null)
        {
            <thead>
                <tr>
                    <th style="width: 25%;">Name</th>
                    <th style="width: 50%;">Beschreibung</th>
                    <th style="width: 25%;">Summe</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td>@Data.CalculateData.SumCIIList(item.CustomerInvoiceItems) @Global.CurrencySign</td>
                </tr>
            </tbody>
        }
    </table>
    <table class="data-red">
        @if(item is not null)
        {
            <thead>
                <tr>
                    <th  style="width: 30%;">Kunde</th>
                    <th  style="width: 50%;">Wert</th>
                    <th  style="width: 20%;">Aktivieren</th>     
                </tr>          
            </thead>
            <tbody>
                @for(int i = 0; i < item.CustomerInvoiceItems.Count; i++)
                {
                    var cii = item.CustomerInvoiceItems[i];
                    Model.Add(new(){ID = item.InvoiceItemID, Value = "" });
                    <tr>
                        <td>
                            <input type="hidden" asp-for="@Model[i].ID" value="@item.InvoiceItemID"/>
                            @cii.Customer?.GivenName @cii.Customer?.Surname
                        </td>
                        <td><input type="text" asp-for="@Model[i].Value" value="@cii.Value"/></td>
                        <td><input type="checkbox" name="Selected" value="@item.InvoiceItemID" checked="@cii.Active"/></td>
                    </tr>
                }
                <tr>
                    <td></td><td><input class="nav-red" type="submit" asp-page-handler="SaveItems" value="Speichern"/></td><td></td>
                </tr>
            </tbody>
        }
    </table>
</form>

    break;

    case ColorMode.Blue:

@if(Information.Message is not null)
{
    <div class="status-blue">
        @if(Information.Message.Success)
        {
            <p style="background-color:rgb(122, 150, 96); border-color: rgb(12, 70, 12);">@Information.Message.Error</p>
        }
        else
        {
            <p style="background-color:rgb(241, 146, 146); border-color: rgb(146, 53, 53);">@Information.Message.Error</p>
        }
    </div>
}

<form method="post">
    <table class="data-blue">
        @if(item is not null)
        {
            <thead>
                <tr>
                    <th style="width: 25%;">Name</th>
                    <th style="width: 50%;">Beschreibung</th>
                    <th style="width: 25%;">Summe</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td>@Data.CalculateData.SumCIIList(item.CustomerInvoiceItems) @Global.CurrencySign</td>
                </tr>
            </tbody>
        }
    </table>
    <table class="data-blue">
        @if(item is not null)
        {
            <thead>
                <tr>
                    <th  style="width: 30%;">Kunde</th>
                    <th  style="width: 50%;">Wert</th>
                    <th  style="width: 20%;">Aktivieren</th>     
                </tr>          
            </thead>
            <tbody>
                @for(int i = 0; i < item.CustomerInvoiceItems.Count; i++)
                {
                    var cii = item.CustomerInvoiceItems[i];
                    Model.Add(new(){ID = item.InvoiceItemID, Value = "" });
                    <tr>
                        <td>
                            <input type="hidden" asp-for="@Model[i].ID" value="@item.InvoiceItemID"/>
                            @cii.Customer?.GivenName @cii.Customer?.Surname
                        </td>
                        <td><input type="text" asp-for="@Model[i].Value" value="@cii.Value"/></td>
                        <td><input type="checkbox" name="Selected" value="@item.InvoiceItemID" checked="@cii.Active"/></td>
                    </tr>
                }
                <tr>
                    <td></td><td><input class="nav-blue" type="submit" asp-page-handler="SaveItems" value="Speichern"/></td><td></td>
                </tr>
            </tbody>
        }
    </table>
</form>

    break;

    case ColorMode.Gray:

@if(Information.Message is not null)
{
    <div class="status-gray">
        @if(Information.Message.Success)
        {
            <p style="background-color:rgb(122, 150, 96); border-color: rgb(12, 70, 12);">@Information.Message.Error</p>
        }
        else
        {
            <p style="background-color:rgb(241, 146, 146); border-color: rgb(146, 53, 53);">@Information.Message.Error</p>
        }
    </div>
}

<form method="post">
    <table class="data-gray">
        @if(item is not null)
        {
            <thead>
                <tr>
                    <th style="width: 25%;">Name</th>
                    <th style="width: 50%;">Beschreibung</th>
                    <th style="width: 25%;">Summe</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td>@Data.CalculateData.SumCIIList(item.CustomerInvoiceItems) @Global.CurrencySign</td>
                </tr>
            </tbody>
        }
    </table>
    <table class="data-gray">
        @if(item is not null)
        {
            <thead>
                <tr>
                    <th  style="width: 30%;">Kunde</th>
                    <th  style="width: 50%;">Wert</th>
                    <th  style="width: 20%;">Aktivieren</th>     
                </tr>          
            </thead>
            <tbody>
                @for(int i = 0; i < item.CustomerInvoiceItems.Count; i++)
                {
                    var cii = item.CustomerInvoiceItems[i];
                    Model.Add(new(){ID = item.InvoiceItemID, Value = "" });
                    <tr>
                        <td>
                            <input type="hidden" asp-for="@Model[i].ID" value="@item.InvoiceItemID"/>
                            @cii.Customer?.GivenName @cii.Customer?.Surname
                        </td>
                        <td><input type="text" asp-for="@Model[i].Value" value="@cii.Value"/></td>
                        <td><input type="checkbox" name="Selected" value="@item.InvoiceItemID" checked="@cii.Active"/></td>
                    </tr>
                }
                <tr>
                    <td></td><td><input class="nav-gray" type="submit" asp-page-handler="SaveItems" value="Speichern"/></td><td></td>
                </tr>
            </tbody>
        }
    </table>
</form>

    break;
}